<% if current_user %>
<p>Welcome, <%= current_user.name %>!</p>

  <% if current_user.student_record and current_user.student_record.courses.any? %>
    <p>Here is a list of your courses:</p>
    <ul>
    <% current_user.student_record.courses.each do |course| %>
      <li><%= link_to course.dept << course.num, course %></li>
    <% end %>
    </ul>
  <% else %>
    No student or no courses!
  <% end %>

<% else %> <!-- if not current_user -->
<p>No user logged in! Please <%= link_to "Log In", user_omniauth_authorize_path(:github) %></p>
<% end %> <!-- end if current_user -->
